:root {
    --main-color: #a8febc;
    --menu: #83c893;
    --menu-hover: #589b67;
    --text-menu-color: #d4ffde;
    --button-account:  #64ac74e6;
    --text-account-btn: #defee6;
    --nav-menu:  #4b6952;
    --menu-nav-li: #a8febc;
}