.task-dialog-container {
    width: 240px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #757575;
}
.task-dialog-container button {
    border: none;
    background-color: #ff6200;
    font-size: 0.9em;
    color: #eaffea;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Outfit", serif
}