<article class="form-container">
    <button mat-dialog-close class="btn_close">
        <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24">
            <path fill="none" stroke="#ffffff" stroke-dasharray="12" stroke-dashoffset="12" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" d="M12 12l7 7M12 12l-7 -7M12 12l-7 7M12 12l7 -7">
                <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.3s" values="12;0" />
            </path>
        </svg>
    </button>
    <form [formGroup]="myForm" (ngSubmit)="submitForm()">
        <!-- <label for="user_id">User</label> -->
        <input formControlName="user_id" type="text" name="user_id" id="user_id" placeholder="Finish math">

        <label for="name">Task</label>
        <input formControlName="name" type="text" name="name" id="name" placeholder="Finish math" autocomplete="name">

        <label for="description">Description</label>
        <textarea formControlName="description" name="description" id="description" placeholder="Describe your homework"></textarea>

        <label for="id_state">State</label>
        <select formControlName="id_state" name="id_state" id="id_state">
            <option value="default">Choose: </option>
            @for (item of name_state; track $index) {
                <option [value]="">{{name_state[$index]}}</option>
                }
        </select>
        <label for="id_category">Category</label>
        <select formControlName="id_category" name="id_category" id="id_category">
            <option value="default">Choose: </option>
            @for (item of id_c; track $index) {
            <option [value]="">{{name_category[$index]}}</option>
            }
        </select>
        <input type="submit" value="Add task">
    </form>
</article>