<article class="form-container">
    <button mat-dialog-close class="btn_close">
        <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24">
            <path fill="none" stroke="#ffffff" stroke-dasharray="12" stroke-dashoffset="12" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" d="M12 12l7 7M12 12l-7 -7M12 12l-7 7M12 12l7 -7">
                <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.3s" values="12;0" />
            </path>
        </svg>
    </button>
    <h1>Register</h1>
        <form action="#" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Zara Smith" autocomplete="name">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="example@gmail.com">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" autocomplete="current-password">
            <label for="r-password">Password</label>
            <input type="password" name="r-password" id="r-password" placeholder="Confirm your password" autocomplete="off">
            <input type="submit" value="Register">
        </form>
    <p>Already have an account? <a href="#">SIGN IN</a></p>
</article>
