<div class="component-background">
    <div class="form-container">
        <button class="btn_close" routerLink="/"
        routerLinkActive="active" ariaCurrentWhenActive="page">
            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24"><path fill="none" stroke="#ffffff" stroke-dasharray="12" stroke-dashoffset="12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 12l7 7M12 12l-7 -7M12 12l-7 7M12 12l7 -7"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.3s" values="12;0"/></path></svg>
        </button>
        <h1>Log in</h1>
        <form action="#" method="get">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="example@gmail.com">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">
            <span><a href="Did you forget your password?"></a></span>
            <input type="submit" value="Log in">
        </form>
        <p>You don't have an account? <a href="#">SIGN IN</a></p>
        <span>OR</span>
        <p><a href="">Continue without an account</a></p>
    </div>
</div>