<div class="component-background">
    <div class="form-container">
        <h1>Log in</h1>
        <form action="#" method="get">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="example@gmail.com">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">
            <span><a href="Did you forget your password?"></a></span>
            <input type="submit" value="Log in">
        </form>
        <p>You don't have an account? <a href="#">SING IN</a></p>
        <span>OR</span>
        <p><a href="">Continue without an account</a></p>
    </div>
</div>