 header {
     height: 80px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #a8febc;
 }

 .logo-container {
     display: flex;
     align-items: center;
 }

 .nav {
    display: flex;
    align-items: center;
    gap: 10px;
 }
 .account {
    display: flex;
    position: relative;
 }
 .account .button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: hsl(133, 28%, 48%);
    padding: 0 10px;
    border-radius: 5px;
    color: #d4ffde;
 }
 .button svg {
    margin-left: 5px;
 }

 .logo-container h1 {
     margin: 0;
     padding: 0;
     font-size: 24px;
 }

 .logo {
     width: 80px;
     height: 80px;
     margin: 0 5px;

 }

 .menu {
     display: none;
 }

 .closeMenu {
     display: none;
 }

 .toggleMenu {
     list-style: none;
     display: flex;
     align-items: center;
 }

 .toggleMenu li {
     width: 100px;
     text-align: center;
     background-color: #83c893;
     padding: 10px;
     border-radius: 2px;
     margin: 2px;
 }

 .toggleMenu li:hover {
     background-color: #589b67;
     color: #d4ffde;
 }
 .accountMenu {
    position: absolute;
    display: flex;
    top: 57px;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 90%;

 }
 .account a {
    text-align: center;
    padding: 10px;
    background-color: #589b67;
    width: 100%;
 }
 .accountMenu a  li{
    list-style: none;
    margin: 0;
    padding: 0;
    
 }

 .toggleMenu a {
     text-decoration: none;
     text-transform: uppercase;
     color: black;
 }

 /* .toggleMenu a:hover {
    background-color: #57b56d;
 } */
 @media (min-width: 600px) {
     header {
         padding-right: 30px;
     }
 }

 @media (max-width: 600px) {
     .menu {
         background-color: transparent;
         border: none;
         margin: 0 20px;
         display: block;
     }


     .menu svg {
         width: 40px;
         height: 40px;
     }

     .nav {
         position: absolute;
         top: 0;
         bottom: 0;
         margin: 0;
         width: 210px;
         right: 0;
         background-color: #4b6952;
         display: flex;
         padding: 10px;
         flex-direction: column;
         animation-duration: 0.5s;
         animation-name: sliderin;
     }

     @keyframes sliderin {
         from {
             width: 0px;
         }

         to {
             width: 210px;
         }
     }

     .closeMenu {
         background-color: transparent;
         border: none;
         width: fit-content;
         padding: 0 10px;
         align-self: flex-end;
         display: block;
     }

     .closeMenu svg {
         width: 23px;
         height: 23px;
         margin: 10px 0;
     }

     .toggleMenu {
         margin: 10px 0;
         padding: 0;
         display: flex;
         flex-direction: column;
     }

     .toggleMenu li {
         list-style: none;
         background-color: #a8febc;
         padding: 15px 20px;
         border-radius: 10px;
         text-align: center;
         margin: 5px;
     }

     .toggleMenu a {
         text-decoration: none;
         color: black;
     }

     .active-nav {
         display: none;
     }
 }