.container {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    height: 50vh;
}
h3 {
    text-decoration: underline;
}
.tasks-states-container {
    display: flex;
    text-align: center;
    width: 100%;
}
.task-state {
    width: 50%;
}
.task-container {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dadada;
    padding: 0 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px rgba(107, 107, 107, 0.756);
}
.btns_container button  {
    padding: 3px 6px;
    border-radius: 5px;
}
.dlt {
    margin: 0 0.6px;
}
.btns_container .dlt {
    background-color: #c1d6ff;
    border: 0.3px solid blue;
}
.btns_container .cgy {
    background-color: #ffc1c1;
    border: 0.3px solid rgb(255, 0, 0);
}
.notasks {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
}
.notasks p{
    font-size: 1.7em;
}
.btn-add-t {
    padding: 16px 40px;
    border: none;
    background-color: #8196FF;
    color: #ffffff;
    font-family: "Outfit", serif;
    border-radius: 10px;
    font-size:medium;
    margin: 10px 0;
}