<article class="container">
    <div class="inicio">
        <h2>Your tasks</h2>
        @if (taskData.length != 0) {
        <button (click)="showTaskRegister()" class="btn-add-t">
            Add a new tasks
        </button>
        }
    </div>

    @if (taskData.length != 0) {
    <section class="tasks-states-container">
        <div class="task-state">
            <h3>Pendings</h3>
            @for (task of taskData; track task.id) {
            @if (task.id_state == '1') {
            <app-task class="task" [taskName]="task.name" [taskId]="task.id"></app-task>
            }
            }
        </div>
        <div class="task-state">
            <h3>In Process</h3>
            @for (task of taskData; track task.id) {
            @if (task.id_state == '2') {
            <app-task class="task" [taskName]="task.name" [taskId]="task.id"></app-task>
            }
            }
        </div>
        <div class="task-state">
            <h3>Finished</h3>
            @for (task of taskData; track task.id) {
            @if (task.id_state == '3') {
            <app-task class="task" [taskName]="task.name" [taskId]="task.id"></app-task>
            }
            }
        </div>
    </section>
    }
    @else {
    <section class="notasks">
        <p>You don't have any tasks</p>
        <img src="assets\notasks.png" alt="">
        <button (click)="showTaskRegister()" class="btn-add-t">
            Add a new tasks
        </button>
    </section>
    }

</article>