body {
    margin:0;
    padding: 0;
}
@media (max-width: 600px) {
.intro {
    margin: 20px;
    padding: 5px;
}
.intro img {
   width: 70%;
   border: 1px solid;
   border-radius: 50%;
}
.tooltip-t {
    text-decoration: underline;
    color: #ff6200; ;
}
.tooltip-t:hover::before {
    position: absolute;
    content: "Organized Brain";
    bottom: 84vh;
    left: 70px;
    background-color: #ff6200;
    color: aliceblue;
    padding: 4px 20px;
    border-radius: 20px;
    pointer-events: auto;
}
.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-start{
    font-family: "Outfit", serif;
    border: none;
    font-size: 1.2em;
    background-color: #9facff;
    padding: 5px 20px;
    border-radius: 5px;
}
}