<main>
    <section class="intro">
        <div class="intro-text">
            <p>Welcome to <span class="tooltip-t">OB Task!</span> Here, you can organize your tasks, categorize them,
                and
                always stay aware of what you
                need to do. Enjoy being productive!</p>
        </div>
        <div class="intro-content">
            <img src="assets/intro_img.png" alt="" srcset="">
            <p>You can start here...</p>
            <button class="btn-start" routerLink="/Login"
            routerLinkActive="active" ariaCurrentWhenActive="page" >Start</button>
        </div>
    </section>
</main>

