<main>
    <section class="intro">
        <div class="intro-text">
            <p>Welcome to <span class="tooltip-t">OB Task!</span> Here, you can organize your tasks, categorize them,
                and
                always stay aware of what you
                need to do. Enjoy being productive!</p>
        </div>
        <div class="intro-content">
            <img src="assets/intro_img.png" alt="" srcset="">
            <p>You can start here...</p>
            <button class="btn-start" routerLink="/Login" routerLinkActive="active"
                ariaCurrentWhenActive="page">Start</button>
        </div>
    </section>
    <section class="info">
        <div class="info-container">
            <div class="info-intro step-one">
                <h2>How we work?</h2>
                <p>Fist you can access to our services with an account (Recomendable) or without one</p>
                <video src="assets/login-video.mp4" autoplay="true" loop="true"></video>
            </div>
            <div class="info-intro step-two">
                <p>
                    Then you can start adding your tasks, and organicing your brain, enjoy!! 
                    <span class="smile-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#447402" fill-rule="evenodd" d="M14.5 8a6.5 6.5 0 1 1-13 0a6.5 6.5 0 0 1 13 0M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.252 4.7a1.5 1.5 0 0 1 2.047.55a.5.5 0 0 1-.866.5a.5.5 0 0 0-.865-.001a.5.5 0 1 1-.865-.502a1.5 1.5 0 0 1 .55-.547ZM8 12a4 4 0 0 0 4-4H4a4 4 0 0 0 4 4m1.252-7.3a1.5 1.5 0 0 1 2.047.55a.5.5 0 1 1-.866.5a.5.5 0 0 0-.865-.001a.5.5 0 1 1-.865-.502a1.5 1.5 0 0 1 .55-.547Z" clip-rule="evenodd"/></svg></span>
                </p>
            </div>
        </div>
    </section>
</main>